.setTran {
  margin: 100px auto;
}
.savings h4 {
  color: rgb(22, 92, 38);
}
.savings {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  color: black;
  position: absolute;
  top: 65px;
  left: 165px;
  height: 102%;
  margin: 10px;
}
.expense {
  border-radius: 10px;
  background-color: aliceblue;

  padding: 10px;
  color: black;
  position: absolute;
  top: 65px;
  left: 165px;
  height: 102%;
  margin: 10px;
}
.investment {
  background-color: aliceblue;
  border-radius: 10px;
  color: black;
  position: absolute;
  top: 65px;
  left: 165px;
  height: 102%;
  margin: 10px;
}

@media (max-width: 700px) {
  .savings {
    position: absolute;
    top: 13vh;
    left: 10px;
    margin-left: 30px;
    bottom: 8px;
  }
  .expense {
    position: absolute;
    top: 13vh;
    left: 10px;
    margin-left: 30px;
    bottom: 8px;
  }
  .investment {
    position: absolute;
    top: 13vh;
    left: 10px;
    margin-left: 30px;
    bottom: 8px;
  }
}
.cash {
  justify-content: space-around;
}
.tot {
  align-items: center;
  justify-content: space-around;
}
.exe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 auto;
  margin-top: -20px;
}
.invest {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 auto;
  margin-top: -20px;
}
.remain {
  margin-left: -105px;
  margin-top: -40px;
}
.spent {
  margin-right: -105px;
  margin-top: -40px;
}
.previous {
  margin-left: -180px;
  margin-top: -40px;
}
.saveadd {
  margin-right: -180px;
  margin-top: -40px;
}
.save {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.saves {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 auto;
  margin-top: -20px;
}
