.flip-card {
  background-color: transparent;
  width: 150px;
  height: 100px;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin-top: -20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-small;
}
.tracker {
  background-color: rgb(34, 33, 33);
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
  border-radius: 10px;
  padding: 10px;
  color: whitesmoke;
  position: absolute;
  top: 73px;
  left: 187px;
  height: 102%;
  width: 83%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.doughnut {
  width: 100%;
  height: auto;
}
.list {
  width: 100%;
  height: auto;
  bottom: 30px;
  margin: 20px;
}
@media (max-width: 786px) {
  .tracker {
    height: 80%;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 73px;
    left: 57px;
    bottom: 10px;
  }
  .doughnut {
    width: 150vw;
    height: auto;
  }

  .list {
    width: 40vw;

    height: auto;
  }
}
.formTrans {
  position: relative;
}
.thank {
  position: absolute;
  z-index: 1;
  height: 100px;
  background-color: rgb(74, 172, 139);
  top: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  left: 50px;
  right: 50px;
}
.thank-btn {
  justify-content: space-around;
  align-items: center;
  margin: 10px 20px;
}
.none {
  display: none;
}
.transForm h3 {
  padding-top: 10px;
}
.transForm {
  color: whitesmoke;
  position: absolute;
  display: flex;
  left: 300px;
  top: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(34, 33, 33);
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .transForm {
    left: 150px;
    top: 30px;
  }
}
#form {
  padding: 10px;
  margin: 10px;
}
.tab {
  top: 10px;
  border-radius: 10px;
}
.editDel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
