.home {
  overflow-y: hidden;
}

.land {
  position: relative;
  width: auto;
  height: 83vh;
  overflow: hidden;
}
.landModal {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: rgba(11, 12, 11, 0.932);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: auto;
  padding: 80px;
  gap: 20px;
  padding-bottom: 20px;
  /* opacity: 0.8;
  
  background-color: rgba(11, 12, 11, 0.932);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 45px;
  z-index: 99999;
  width: 100vw;
  height: 150vh;
  font-weight: 500;
  overflow: hidden;
  padding-bottom: 350px; */
}
.landModal a button {
  font-weight: 700;
}
.content {
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif, "Courier New";
}
.dash {
  background-color: gray;
}
/* Login Styles*/
.homeForm {
  position: relative;
  width: auto;
  height: 83vh;
  overflow: hidden;
}
.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
  margin: 100px 300px;
  height: auto;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
}
.form:hover {
  opacity: 1;
}
.formBtn {
  margin: 0 170px;
}

@media (max-width: 786px) {
  .form {
    width: 70%;
    margin: 100px 100px;
  }
  .formBtn {
    margin-left: 115px;
  }
}
#regi {
  margin-top: 20px;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.budgetCard {
  margin: 25px;
  width: 600px;
  height: 400px;
}

@media (max-width: 786px) {
  .budgetCard {
    width: 380px;
    height: 300px;
  }
}
#login span {
  text-align: center;
}
.register {
  color: whitesmoke;
  position: absolute;
  top: 80px;
  left: 40px;
  border-radius: 10px;
  background-color: rgb(34, 33, 33);
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
  opacity: 0.7;
  z-index: 999;
}
.register:hover {
  opacity: 1;
}
@media (min-width: 786px) {
  .register {
    left: 300px;
  }
}
.faq {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 33, 33);
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
  margin: 25px;
  border-radius: 10px;
  padding: 10px;
}
/*Sidebar styles*/
.side {
  margin: 20px;
}
