.land {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.landModal {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(11, 12, 11, 0.932);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  z-index: 99999;
  width: 100vw;
  height: 150vh;
  padding-bottom: 350px;
}
.landImg {
  width: 100%;
  height: 100%;
}

.content {
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif, "Courier New";
}
#login {
  position: absolute;
  background-color: rgb(34, 33, 33);
  opacity: 0.7;
  color: white;
  margin: 0 60px;
  border-radius: 20px;
  z-index: 999;
  top: 100px;
}
.logImg {
  width: 100%;
  height: 100%;
  position: relative;
}
.logImg img {
  width: 100%;
  height: 100%;
}
#login:hover {
  opacity: 1;
}
@media (min-width: 786px) {
  #login {
    margin: 0 250px;
  }
  .logBtn {
    margin-left: 100px;
  }
}
@media (max-width: 786px) {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landModal {
    padding-bottom: 450px;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.budgetCard {
  margin: 25px;
  width: 600px;
  height: 400px;
}
@media (max-width: 786px) {
  .budgetCard {
    width: 380px;
    height: 300px;
  }
}
#login span {
  text-align: center;
}
