.land {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.landModal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(11, 12, 11, 0.932);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  z-index: 99999;
  width: 100vw;
  height: 150vh;
  padding-bottom: 350px;
}
.landImg {
  width: 100%;
  height: 100%;
}

.content {
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif, "Courier New";
}
#login {
  position: absolute;
  background-color: rgb(34, 33, 33);
  opacity: 0.7;
  color: whitesmoke;
  border-radius: 20px;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  width: 40%;
  height: 40%;
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
}
.logImg {
  width: 100%;
  height: 100%;
  position: relative;
}
.logImg img {
  width: 100%;
  height: 100%;
}
#login:hover {
  opacity: 1;
}
@media (min-width: 786px) {
  #login {
    margin: 0 330px;
  }
  .loginForm {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .logBtn {
    margin-right: 35px;
  }
}
@media (max-width: 786px) {
  #login {
    width: 60%;
    margin-left: 110px;
    height: 60%;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landModal {
    padding-bottom: 450px;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.budgetCard {
  margin: 25px;
  width: 600px;
  height: 400px;
}
@media (max-width: 786px) {
  .budgetCard {
    width: 380px;
    height: 300px;
  }
}
#login span {
  text-align: center;
}
.register {
  color: whitesmoke;
  position: absolute;
  top: 80px;
  left: 340px;
  border-radius: 10px;
  background-color: rgb(34, 33, 33);
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
  opacity: 0.7;
  z-index: 999;
}
.register:hover {
  opacity: 1;
}
