/* Navbar style*/
.me-auto {
  margin-left: 300px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: small;
}

@media (max-width: 786px) {
  .sidebar {
    display: none;
  }
  .me-auto {
    margin-left: 200px;
  }
}
.sidebar {
  border-radius: 10px;
  margin-right: -10px;
  background-color: rgb(110, 205, 236);
  box-shadow: var(--form-shadow);
}
.sideNavs {
  width: 100%;
  height: 100vh;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 786px) {
  .navs {
    margin-left: -170px;
  }
}
.hello {
  margin-right: -60px;
}
