.logo {
  font-family: Gill Sans ", " Gill Sans MT ", Calibri, " Trebuchet MS
    ", sans-serif";
  font-weight: 700;
}
@media (max-width: 786px) {
  .sidebar {
    display: none;
  }
  .me-auto {
    margin-left: 200px;
  }
}

.sidebar {
  margin-left: 9px;
  margin-right: -7px;
  border-radius: 10px;
  margin-top: 0;
  background-color: var(--main-card);
  box-shadow: var(--form-shadow);
  height: 100%;
}
.sideNavs {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 786px) {
  .navs {
    margin-left: -170px;
  }
}

.active {
  text-align: center;
  /* width: fit-content; */
  width: auto;
  border-radius: 10px;
  background-color: rgb(238, 174, 26);
  padding: 5px;
  margin-top: -4px;
}
