.navHead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: rgb(56, 4, 4);
}
.sidebar {
  width: 100%;
  height: 100vh;
  background-color: rgb(34, 33, 33);
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
  color: rgb(151, 148, 148);
  box-shadow: inset 0px 0px 14px 0px rgba(61, 60, 60, 0.85);
}
.me-auto {
  margin-left: 300px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: small;
}
@media (max-width: 786px) {
  .sidebar {
    display: none;
  }
}
.sideNavs {
  font-size: x-small;
  font-weight: 700;
  padding: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 786px) {
  .navs {
    margin-left: -170px;
  }
}
