@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("./assets/temp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
